*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("img/bg.jpg")
}
.navbar{
  box-sizing: content-box;
  background-image: url("img/bg.jpg")
}
.top-container {
  position: relative;
  padding-top: 25px;
  background-image: url("img/bg.jpg")
}

.topnav {
  overflow: hidden;
  background-image: url("img/bg.jpg")
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}

.topnav a:hover {
  background-color: #ddd;
  color: blue;
}

.topnav a.active {
  background-color: rgb(51, 14, 77);
  color: white;
}
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
.bottom-container {
  background-color:white;
  padding: 30px 0 20px;
}

.search-field {
  height: 50px;
  padding: 10px;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 40px;
  outline: none;
  align-self : right;
  background: #2f3640;
  color: rgb(34, 33, 33);
}
.API {
  width: 300px;
}
.search-btn {
color:rgb(190, 190, 190);
float: right;
width: 40px;
height: 40px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
background: #2f3640;
}
.search-btn:hover{
  background: gray;
}
